:root {
  --color-primary: #61c9a8;
  --color-secondary: #55b89a;
  --color-tertiary: #49a78c;
  --color-quaternary: #3d967e;
  --color-quinary: #318570;
}

.text-shadows {
 text-shadow: 0 0 6px #fff, 0 0 12px var(--color-secondary), 0 0 18px #fff;
  font-family: SeoulAlrimTTF-Heavy, sans-serif;
  font-weight: 800;
  color: var(--color-primary);
  animation: glow 2s infinite alternate;
  margin-left:2rem;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3);
  }
  to {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.9), 0 0 25px rgba(255, 255, 255, 0.7), 0 0 35px rgba(255, 255, 255, 0.5);
  }
}